/* ASIDE START */

.order {
    position: sticky;
    top: 22px;
    background-color: #fff;
    width: 30%;
    height: max-content;
    margin-top: 22px;
    margin-right: 25px;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.order__amount {
    width: 100%;
}

.order__amount-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order__amount-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.order__amount-text--bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.order__delivery {
    width: 100%;
    margin-top: 24px;
}
.order__delivery__header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.order__payment {
    width: 100%;
    margin-top: 36px;
}

.order__payment__header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.order__label {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order__address {
    margin-top: 4px;
}

.order__date {
    width: max-content;
    margin-top: 4px;
    color: #CB11AB;
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
    cursor: pointer;
}

.order__date:hover {
    border-bottom: 1px dashed rgba(203, 17, 171, 1);
}

.order__rules {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.green {
    display: inline;
    position: relative;
    color: #0CB477;
    cursor: pointer;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.green:hover {
    border-bottom: 1px dashed rgba(12, 180, 119, 1);
}

.free-popup {
    top: 20px;
    left: -113px;
    position: absolute;
    display: none;
    width: 288px;
    padding: 16px 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    color: #000;
}

.order__delivery__wrapper {
    width: 100%;
    margin-top: 13px;
    background-color: #F6F6FA;
    display: flex;
    align-items: center;
    padding: 9px 9px;
    border-radius: 8px;
}

.order__text__note {
    margin-left: 9px;
}

.order__payment__wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.card-number {
    margin-left: 9px;
}

.order__pay-now{
    background-color: #F6F6FA;
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
}

.order__label {
    display: flex;
    align-items: center;
    gap:8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order__checkbox {
    width: 22px;
    height: 22px;
    accent-color: #CB11AB;
}

.order__pay-now__text {
    margin-top: 11px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order__btn {
    width: 100%;
    height: 44px;
    align-self: center;
    color: #fff;
    background-color: #CB11AB;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 24px;
}

.order__agreement {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    gap:8px;
}

.agreement__icon {
    margin-top: 3px;
}

.navigation__item--with-count{
    position: relative;
}

.count-icon--in-bottom-nav {
    left: 18px;
    top: -4px;
}

.order__payment__edit-btn, .order__delivery__edit-btn {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

#payment-method-vue2, #payment-method-vue3, #payment-method-vue4 {
    display: none;
}

#address2, #address3, #address4, #address5, #address6 {
    display: none;
}
#delivery-method-content2, #delivery-method-content3, #delivery-method-content4, #delivery-method-content5, #delivery-method-content6 {
    display: none;
}

@media(max-width: 995px) {
    .order {
        position: static;
        width: 100%;
        padding: 24px 16px;
        margin-right: 0;
        margin-top: 0;
        background-color: #F6F6FA;
        box-shadow: none;
    }

    .order__amount-text--bold {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }

    .order__delivery {
        display: none;
    }
    
    .order__payment {
        display: none;
    }
    
    .order__pay-now {
        padding: 0;
        display: block;
    }

    .order__delivery__wrapper {
        width: 100%;
        background-color: #F0ECF4;
    }

    .order__pay-now {
        width: 100%;
        background-color: #F0ECF4;
        padding: 9px;
    }
}
/* ASIDE END */